/* .................... general styling start...........................................................................*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#C9F31D;
    --black-color:black;
    --white-color:white;
    --border-color:rgba(91, 91, 91, 0.91);
    --background-color-hover:#f1f1f1;
    --color-section:#191618;
    --color-section-div:#1D1D1D;
    --color-pragrah:#8E8E8E;
} 
body{
    background-color:var(--black-color);
    color: var(--white-color);
    height: 5000px;
}
a{
  text-decoration: none;
  transition: all 0.3s ease-out;
  color:var(--white-color);
  display: block;
}
a:hover{
  color: var(--main-color);
}
button{
  background-color: var(--main-color);
  border: 0;
  border-radius: 5px;
  font-size: 1.1rem;
  position: relative;
}
button::after{
  content: "";
  background-color: rgba(0, 0, 0,0.3);
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: all 0.4s;
}
button:hover::after{
  height: 100%;
}
i{
  font-size: 1.2rem;
  cursor: pointer;
}
/* .................... general styling end ...........................................................................*/
/*============ anmitions ==========*/
@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*...................... navbar start .................................................................................*/
.navbar-content{
  background-color: var(--black-color);
  border-bottom: 0.1px solid var(--border-color);
  z-index: 99;
  transition: background-color 0.4s;
}
/*================= logo =======================*/
.logo{
  border-right: 0.1px solid var(--border-color);
}
.logo img{
    width: 60%;
    cursor: pointer;
}
.navbar-links{
  width: 65%;
  display: flex;
}
.navbar-links a{
  text-transform: uppercase;
}
/*================= dropdown navbar ====================*/
.dropdown-list {
    visibility: hidden;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 100;
    transform: translate(-10%,50%);
    transition: all 0.3s ease-out;
} 
.dropdown-list a{
    padding: 10px 20px;
    color:var(--black-color);
    text-transform: capitalize;
}
.arrow-up {
  top: -10px;
  left: 20px; 
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
}  
.dropdown-list a:hover {
  background-color:var(--background-color-hover);
  color: var(--main-color);
  padding-left: 30px;
}
.dropdown:hover .dropdown-list {
  visibility: visible;
  transform: translate(-10%,20%);
}
.icons-list{
  border-left:0.1px solid var(--border-color) ;
}
.icons{
  display: none;
}
/*================= sidebar =====================*/
.side-bar{
  z-index: 200;
  border-left: 1px solid var(--border-color);
  width: 25%;
  right: -200%;
  transition: all 0.3s;
}
.main-content{
  color: var(--border-color);
}
.social-media i{
  margin: 0 2%;
  color: var(--black-color);
  padding: 4% 4%;
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.social-media i:hover{
  color: white;
}
.closed-content{
  background-color: var(--main-color);
  color: var(--border-color);
}
/*............................. navbar end ......................................................................*/
/*............................. header section start ............................................................*/
.header-section{
  background-image: url(../images/background-header.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: space-between;
}
.left-info, .right-info {
  height: 70%;
  display: flex;
  align-items:baseline;
  justify-content:space-around;
  writing-mode: vertical-rl;
}
.scroll-down,.contact,.follow-me{
  cursor: pointer;
}
.right-info i{
  transition: all 0.4s ease;
}
.right-info i:hover{
  color: var(--main-color);
}
.center-content h1 {
  font-size: 6rem;
}
.availability{
  width: 50%;
}
.availability p {
  font-size: 1.4rem;
}
#arrow{
  transform: rotate(-45deg);
}
.designer{
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  background: linear-gradient(to right, var(--main-color) 50%, transparent 50%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: change 3s infinite alternate ease-in-out;
}
.header-image img{
  width: 70%;
}
.header-image.show{
  animation: zoomIn 1s ease forwards;
}
@keyframes change {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.video-play i{
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  padding: 4%;
  border: 1.2px solid var(--white-color);
  border-radius: 50%;
 outline: 2px solid var(--white-color);
 animation: playvideo 2s infinite  ease-in-out;
}
.video-play img{
  animation: rotate 2s infinite alternate ease-in-out;
}
.video-play p{
  font-size: 1.2rem;
}
@keyframes playvideo {
  0%{
    outline: 2px solid var(--white-color);
    outline-offset: 0px;
  }
  100%{
    outline-offset: 30px;
    outline: 0px;
  }
}
@keyframes rotate {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotate(-20deg);
  }
}
.video-header{
  background-color: rgba(0, 0, 0,0.9);
  z-index: 99999999;

}
.video-header .video-content{
  width: 50%;
  height: 50%;
}
/*............................. header section end ............................................................*/
.slider-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color:var(--main-color);
  padding: 2% 0%;
}

.slider-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 10s linear infinite;
}

.slider-content {
  display: inline-block;
  padding-right: 50px; 
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ........................................................ about section start ...............................................*/
.info-content p{
  font-size: 2rem;
}
.links a{
  margin: 0% 1%;
  font-size: 1.1rem;
  padding: 1% 2%;
  background-color:var(--color-section);
  border-radius: 8px;
  color: var(--white-color);
  transition: all 0.5s;
}
.links a.active{
  background-color: var(--main-color);
  color: var(--black-color);
}
.section{
  background-color: var(--color-section);
  margin: 6% 0%;
}
.about-image{
  width: 70%;
}
.about-image img{
  width: 100%;
}
.about-content p{
  font-size: 1.2rem;
  color: var(--color-pragrah);
}
.personal-info{
  background-color: var(--color-section-div);
}
.personal-info:hover{
  border: 1px solid var(--main-color);
}
.year{
  color: var(--main-color);
}
.experience-content{
  border-bottom:0.1px solid var(--border-color);
  border-top:0.1px solid var(--border-color) ;
  transition: all 0.1s;
}
.experience-content:hover{
  border-bottom:0.1px solid var(--main-color);
  border-top:0.1px solid var(--main-color) ;
}
.experience-content span{
  font-size: 1.2rem;
}
.skills-percent{
  font-size: 2rem;
  font-weight: bolder;
}

.about-content {
  animation: none;
  transition: all 0.5s ease-in-out;
}


.about-content.show {
  animation: slideUp 0.6s ease-out;
}
.about-image.show{
  animation: zoomIn 1s ease forwards;
}
.personal-info.show{
  animation: zoomIn 1s ease forwards;
}
/* ........................................................ about section end ...............................................*/
/*................................... media queries start ......................................................*/
@media screen and (max-width:1300px){
  .navbar-content{
    background-color: var(--black-color);
  }
  #button-navbar{
    display: none;
  }
  .side-bar{
    width: 40%;
  }
  .left-info, .right-info{
    display: none;
  }
  .center-content h1 {
    font-size: 5rem;
  }
  .availability{
    width: 60%;
  }
  .availability p {
    font-size: 1.3rem;
  }
  .header-image img{
    width: 80%;
  }
  .slider-container{
    padding: 1% 0%;
  }
  .section{
    flex-direction: column;
  }
  .about-image{
    width: 100%;
    text-align: center;
  }
  .about-image img{
    width: 40%;
  }
}
@media screen and (max-width:950px){
  #button-navbar{
    display: block;
  }
  i{
    font-size: 1rem;
  }
  button{
    font-size: 1rem;
  }
  .icons-list{
    border-left:0px ;
  }
  .logo img{
    width: 55%;
  }
  .navbar-links{
    background-color: var(--black-color);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .navbar-links li{
    padding: 3% 0%;
    border-bottom: 0.1px solid var(--border-color);
    transition: all 0.3s;
  }
  .navbar-links li:hover{
    padding-left: 2%;
  }
  .icons{
    display: block;
  }
  .icons .fa-xmark{
    display: none;
  }
  .side-bar{
    width: 50%;
  }
  
  .center-content h1 {
    font-size: 3rem;
  }
  .availability{
    width: 90%;
  }
  .availability p {
    font-size: 1.1rem;
  }
  .header-image img{
    width: 80%;
  }
  .video-play i{
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 4%;
  }  
  .video-play p{
    font-size: 1rem;
  }
  .video-header .video-content{
    width: 80%;
    height: 60%;
  }
  .image8{
    width: 10%;
  }
  .about-content p{
    font-size: 1rem;
  }
  .info-content p{
    font-size: 1rem;
  }
  .links a{
    font-size: 1rem;
  }
  .experience-content span,
  .experience-content h3{
    font-size: 1rem;
  }
  .skills-percent{
    font-size: 1.5rem;
  }
}
@media screen and (max-width:500px){
  #button-navbar{
    display: none;
  }
  .side-bar{
    width: 85%;
  }
  .center-content{
    padding-top: 25%;
    width: 100%;
  }
  
  .center-content h1 {
    font-size: 3rem;
  }
  .availability p {
    font-size: 1rem;
  }
  .header-section{
    flex-direction: column;
  }
  .header-image img{
    width: 60%;
    transform: translateY(-25%);
  }
  .video-header .video-content{
    width: 100%;
    height: 70%;
  }
  .skills-percent{
    font-size: 1.3rem;
  }
}